--upgrade pip
threading
time
collections
math
os
csv
queue
json
datetime
pathlib

cv2
mediapipe
numpy 
pandas
joblib

pynput
streamlit

sklearn.ensemble 
sklearn.model_selectionlit
sklearn.metrics
plyer

